@import "tailwindcss";
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

/* Animations de barres de progression */
@keyframes progress-11 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes progress-4 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@keyframes progress-3 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes progress-100 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress-11 {
  animation: progress-11 2s ease-out forwards;
  animation-delay: 0.5s;
}

.animate-progress-4 {
  animation: progress-4 2s ease-out forwards;
  animation-delay: 0.7s;
}

.animate-progress-3 {
  animation: progress-3 2s ease-out forwards;
  animation-delay: 0.9s;
}

.animate-progress-100 {
  animation: progress-100 2s ease-out forwards;
  animation-delay: 1.1s;
}
